.App {
  text-align: center;
  background-color: rgb(239, 244, 195);
}
.wetherBg{
  background: url("https://www.pentair.com/content/dam/extranet/global/images/stock/tier3-with-people-no-faces/residential/drinking-water/safe-at-home-during-storm-1440x450.jpg");
  background-repeat: no-repeat;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
}
.heading{
  color:white;
  font-weight: 700;
}
.wetherResultBox{
  margin: auto;
  width: 450px;
  height: 250px;
}
.weathorIcon{
  margin-top: 2rem;
  width: 90px;
  height: 90px;
}
.weathorCity{
  font-size: 35px;
}
.weathorTemp{
  font-size:55px;
  font-weight: 700;
}
