.App {
  text-align: center;
  background-color: #c5c5c5;
}
.wetherBg{
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOYFVbKD9_KEJPAYbMkPUp2SNn3q68vaf0tw&usqp=CAU");
  background-size: cover;
  background-attachment:fixed;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
}
.heading{
  color:white;
  font-weight: 700;
}
.wetherResultBox{
  margin: auto;
  width: 500px;
  height: 300px;
}
.weathorIcon{
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}
.weathorCity{
  font-size: 35px;
}
.weathorTemp{
  font-size:55px;
  font-weight: 700;
}
